<%- include("head")-%>

<div class="Table-container container py-5">
  <h2 style="text-align: center">Deanship of Scientific Research</h2>
  <br />
  <br />
  <h5 class="text-primary">Establishment of the Deanship</h5>
  <br />

  <p>
    The Deanship of Scientific Research was established in 2008. In 2010, the
    College of Graduate Studies was separated from the Deanship of Scientific
    Research and re-merged in 2015 under the name of the Deanship of Scientific
    Research and Graduate Studies.
  </p>

  <br />

  <h5 class="text-primary">Vision of the Deanship</h5>
  <br />

  <p>
    The Deanship derives its vision from the general vision of the University,
    where it seeks to combine scientific knowledge with religious virtue, and
    lead in scientific research, and contribute to the service and development
    of scientific research in Jordan, especially in the Islamic world. It also
    focuses on scientific creativity through the scientific outputs of
    outstanding students from Jordan and the different countries of the world in
    different scientific and human disciplines, especially Islamic studies,
    which are taught at the university in the master's and doctorate stages,
    under the supervision of a large number of academics from different Arab and
    Islamic countries.
  </p>

  <p>
    The Deanship attracts a number of students from all over the world from
    different nationalities and prepares them for the appropriate environment at
    this stage to learn from all sciences, taking into account developments in
    all fields of science.
  </p>
  <br />

  <h5 class="text-primary">Objectives of the Deanship</h5>
  <br />

  <p>
    - To develop scientific research at the university and to provide the
    appropriate conditions for encouraging faculty members to carry out
    outstanding scientific research, and to hold conferences and specialized
    scientific forums and publish their facts.
    <br />
    <br />
    - To assist researchers in publishing their research in the scientific
    journals.
    <br />
    <br />
    - Encouraging, supporting and funding research projects and disseminating
    scientific knowledge and research results through researches, studies and
    manuscripts.
    <br />
    <br />
    - Link scientific research to the needs of the community and provide
    scientific and practical support.
    <br />
    <br />
    - Publication of books composed by faculty members at the university and
    distinguished works from outside the university after being evaluated by
    specialized referees under the supervision of the Deanship of Scientific
    Research and Graduate Studies.
    <br />
    <br />
    - Raise the level of students through the development of graduate programs
    and create an environment suitable for distinguished researchers.
    <br />
    <br />
    - Application of the instructions for theses of the doctoral and master's
    degrees to ensure quality and contribute to various human and scientific
    knowledge.

    <br />
    <br />

    - Activate the role of the Graduate Studies Council by supervising and
    developing students' affairs and academic programs and ensuring their
    quality.
    <br />
    <br />
    - Providing discounts and grants to outstanding students and memorizers of
    the Holy Quran.
  </p>
</div>

<main class="page"></main>
