<%- include("head")%>
<h2>Account Verification</h2>
<section class="page1">
    <div class=" Table-container container page2">
        <div class="row justify-content-md-center ">
            <div class="">
                <div class=" block-heading"></div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Verification successful</h4>
                        <form method="GET" action="/">
                            <button class="btn btn-primary my-3">
                                Continue
                            </button>
                        </form>
                    </div>
                </div>
</section>
<%- include("footer")%>