<%- include("head-logout")-%>
<section class="page1">
    <div class=" Table-container container page2">
        <div class="row justify-content-md-center ">
            <div class="">
                <div class="block-heading"></div>
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title">ERROR</h4>
                        <h1>Not Authorized</h1>
                    </div>
                </div>
</section>
<%- include("footer")-%>